<!DOCTYPE html>
<html>
<head>
  <title>Admin Panel - Users</title>
  <link rel="stylesheet" href="/css/admin-users_style.css">
</head>
<body>
<a th:href="@{/home}" class="button-link">На главную</a>

<h1>Users</h1>



<!-- Поле для поиска по Username -->
<input type="text" id="searchUsername" onkeyup="filterUsers()" placeholder="Search by Username" class="search-input">

<table id="userTable">
  <thead>
  <tr>
    <th>Username</th>
    <th>Role</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.username}"></td>
    <td th:text="${user.role}"></td>
    <td>
      <!-- Изменение роли -->
      <form th:action="@{/admin/users/{id}/role(id=${user.id})}" method="post">
        <label for="role">Role:</label>
        <select name="role" id="role">
          <option value="USER" th:selected="${user.role == 'USER'}">USER</option>
          <option value="ADMIN" th:selected="${user.role == 'ADMIN'}">ADMIN</option>
          <option value="TEST" th:selected="${user.role == 'TEST'}">TEST</option>
        </select>
        <button type="submit">Change Role</button>
      </form>

      <!-- Удаление пользователя -->
      <form th:action="@{/admin/users/{id}(id=${user.id})}" method="post">
        <input type="hidden" name="_method" value="delete" />
        <button type="submit" class="delete">Delete</button>
      </form>

    </td>
  </tr>
  </tbody>
</table>

<script>
  function filterUsers() {
    const input = document.getElementById('searchUsername');
    const filter = input.value.toUpperCase();
    const table = document.getElementById('userTable');
    const rows = table.getElementsByTagName('tr');

    for (let i = 1; i < rows.length; i++) {
      const cells = rows[i].getElementsByTagName('td');
      const username = cells[0].textContent || cells[0].innerText;

      if (username.toUpperCase().indexOf(filter) > -1) {
        rows[i].style.display = "";
      } else {
        rows[i].style.display = "none";
      }
    }
  }
</script>

</body>
</html>
