/* Общий стиль для страницы */
body {
    background-color: #121212;
    color: #E0E0E0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #BB86FC;
    margin-top: 50px;
}

/* Стили для кнопок */

.button-link {
    background-color: #6200EE;
    color: #E0E0E0;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-link:hover {
    background-color: #BB86FC;
}

button {
    background-color: #6200EE;
    color: #E0E0E0;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #BB86FC;
    transform: scale(1.05);
}

button:focus {
    outline: none;
}

/* Стили для ссылок, чтобы они не выглядели как ссылки */
a {
    text-decoration: none;
}

/* Стили для контейнера с кнопками */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}